@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import "/css/reset.css";

@import "/css/components/main-box.css";
@import "/css/components/header.css";
@import "/css/components/big-button.css";
@import "/css/components/button.css";

@import "/css/screens/sign-in.css";
@import "/css/screens/sign-up.css";
@import "/css/screens/sign-up-register.css";

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #eee;
  width: 100%;
  color: #333;
}

a {
  text-decoration: none;
}
